SpacesBeforeTrailingComments: 2
IncludeCategories:
  - Regex: "^<.*>"
    Priority: 1
    SortPriority: 0
  - Regex: '^"'
    Priority: 2
    SortPriority: 0
IncludeBlocks: Regroup
SortIncludes: true
